.projects {
  height: 22.7em;
  transform: translateY(225px);
}

.project {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    text-transform: uppercase;
    color: white;
  }
}
