@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat:wght@200;300;600&display=swap");
@import "./typography.scss";

html {
  font-size: 10px;
  background-color: #1b1b1b;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Konstanz Medium", Helvetica, "Open Sans", Sans-Serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
}

h1,
h2,
h3 {
  font-family: "Konstanz Bold", Helvetica, "Open Sans", Sans-Serif;
}

a {
  text-decoration: none;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mainLayout {
  background-color: #1b1b1b;

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;

    .content {
      flex-grow: 1;
    }
  }
}
