.projectTemplate {
  width: 100%;
  margin-top: 0;
  color: white;

  .title {
    width: 100%;
    height: 40px;
    transform: translateY(55px);
    text-align: center;
    background-color: white;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
      color: black;
    }
  }

  .body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 400px;
    margin: 0 auto;

    .images {
      width: 45%;

      .sliderimg {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }

    .copy {
      width: 45%;
    }
  }
}

.projectLinks {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;

  a {
    color: white;

    &:hover {
      color: #00ffff;
    }
  }
}

@media screen and (max-width: 750px) {
  .projectTemplate {
    .body {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      transform: translateY(55px);
      width: 100%;
      height: 100%;
      padding: 30px;

      .images,
      .copy {
        width: 100%;
      }

      .images {
        .sliderimg {
          height: 300px;
        }
      }

      .copy {
        height: 100%;
        margin: 40px 0;
      }
    }
  }

  .projectLinks {
    position: relative;
    bottom: auto;
  }
}
