.projectTemplate {
  width: 100%;
  margin-top: 0;
  color: white;

  .title {
    width: 100%;
    height: 40px;
    transform: translateY(55px);
    text-align: center;
    background-color: white;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
      color: black;
    }
  }

  .body {
    display: flex;
    width: 85%;
    margin: 0 auto;
    transform: translateY(95px);

    .images {
      width: 50%;
    }

    .copy {
      width: 50%;
      margin: 0 30px;
    }
  }
}
