header {
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;

  .wrap {
    display: flex;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    font-size: 1.3rem;
    text-transform: uppercase;

    .info {
      a {
        margin-left: 24px;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
