header {
    display: flex;
    justify-content: space-between;

    .info {
        margin-right: -24px;
        
        a {
            margin-left: 24px;
        }
    }

    a {
        text-decoration: none;
    }
}