.experience,
.education {
  color: white;
  line-height: 1.8;

  .section,
  .company,
  .jobTitle {
    font-size: 1.8rem;
    margin: 0;
  }

  .section {
    color: #00ffff;
  }

  .company {
    margin-top: 2rem;
  }

  p {
    margin: 0;
  }
}

.education {
  margin-top: 50px;
}
