.about {
  .title {
    position: relative;
    width: 100%;
    height: 40px;
    transform: translateY(55px);
    text-align: center;
    background-color: white;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      font-size: 1.8rem;
      color: black;
    }
  }

  .body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 400px;
    margin: 0 auto;

    ::-webkit-scrollbar {
      display: none;
    }

    .expEd {
      width: 45%;
      height: 515px;
      overflow-y: auto;

      .down {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(55px, 200px);
        color: white;
        font-size: 8rem;
      }
    }

    .copy {
      width: 45%;
      color: white;

      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .about {
    .body {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      transform: translateY(55px);
      width: 100%;
      padding: 30px;
      margin-bottom: 40px;

      .expEd,
      .copy {
        width: 100%;
      }

      .expEd {
        height: 100%;
        overflow-y: visible;

        .down {
          display: none;
        }

        .education {
          padding-bottom: 40px;
        }
      }

      .copy {
        padding: 40px 0;
      }
    }
  }
}
