.richText {
  line-height: 1.8;

  img {
    width: 100%;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.paragraph {
  a {
    text-decoration: underline;
  }
}

.divider {
  width: 100%;
  text-align: center;
}

.caption {
  font-size: 0.8rem;
}

@media screen and (max-width: 750px) {
  .richText {
    iframe {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .richText {
    iframe {
      height: 250px;
    }
  }
}
